*{
    background-color: rgb(87, 97, 93);
    margin: 20px;
}


table{
    width: 1000px;
    height: 400px;
    border-color: black;
    background-color: rgb(113, 111, 109);
    border-radius: 20px;
}

td{
    background-color: rgb(66, 65, 65);
    color: azure;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}

