* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    gap: 5px;
    height: 200px;
    width: 500px;
    transition: 2s;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.container :hover{
    transition: 2s;
    background-color: black;
}


.a { 
    background-color: navy; grid-column: span 4;
 }
.b { background-color: orange;

 }
.c { background-color: green;

}
.d { background-color: red; 
}
.e { background-color: rgb(206, 206, 97); grid-column: span 2; 

}
.f { background-color: purple; 
}
.g { background-color: limegreen; grid-column: span 4;

}
